.Counter button {
  width: 3em;
  height: 3em;
  margin: 1em;
}

.Counter {
  height: 25vh;
  border: 1px solid black;
  width: 25vw;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}